.nav-dark {
    background-color: #343a40; /* 다크 그레이 배경 */
    color: #ffffff; /* 흰색 텍스트 */
}

.nav-dark .nav-link {
    color: #ffffff; /* 흰색 링크 텍스트 */
}

.nav-dark .nav-link:hover {
    color: #f8f9fa; /* 밝은 회색으로 변경될 때 */
}
